
*{
    margin:0;
    padding:0;
    /* font-family: 'Noto Sans KR', sans-serif; */
    letter-spacing: 1px;
    
    font-family: 'Noto Sans KR', sans-serif;
    border : 0;
}

section{
	width : 100%;
	height : auto;
	position: relative;
	top : 80px;
	margin : 0 auto;
	background-color: rgb(237,237,237);
	padding : 20px 0;
	margin-bottom : 80px; 
	
}



ul, li, ol{
    list-style-type: none;
}


a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    text-decoration: none;
}

img{
    border: none;

}


em, address{

    font-style: normal;
    
}



















